h1{ 
    font-family: 'Playfair Display', serif;
    }
 .descricao{
     font-family: cursive;
     display: inline-block;
     vertical-align: top;
     margin: 5px 0px 0px 0px;
 }
 body{
     background-color: #DBD8F0;

 }
 .destaque{
     font-weight: bold;
 }
 .grande{
    font-size: large;
 }
 .medio{
     font-size: medium;
 }
 .gigante{
     font-size: x-large;
 }
 .fotoetexto{
     display: inline;
 }

