@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;700&family=Josefin+Slab:ital,wght@0,100;0,200;1,100;1,600&family=Mulish:ital,wght@0,200;0,500;1,200;1,300;1,400&family=Playfair+Display:ital@1&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

* {
  margin: 0%;
  padding: 0%;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}

.banner {
    position: absolute;
    left: 10%;
    top: 30%;
}

.banner h1 {
    color: rgb(84, 34, 2);
    font-size: 4.5rem;
    background-color: rgba(252, 231, 245, 0.619);
    font-family: 'Baloo Da 2',sans-serif;
    font-weight: 500;
    line-height: 5rem;
    margin-bottom: 2rem;
}

.banner p {
    font-family: 'Josefin Slab',sans-serif;
    font-size: 2.5rem;
    color: rgb(67, 3, 27);
    font-weight: 700;
    margin-bottom: 2rem;
}

.banner button {
    font-family: 'Baloo Da 2',sans-serif;
    color: rgb(150, 5, 56);
    font-size: 1.2rem;
    text-transform: uppercase;
    background: #BA5370; 
    background: -webkit-linear-gradient(to right, #F4E2D8, #BA5370);  
    background: linear-gradient(to right, #F4E2D8, #BA5370); 
    padding: 0.7rem 3rem ;
    border: none;

}